<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @info_message.text %>
</p>

<%= link_to 'Edit', edit_info_message_path(@info_message) %> |
<%= link_to 'Back', info_messages_path %>
